@font-face {
    font-family: 'poppins';
    src: url(./assets/fonts/poppins-regular-webfont.woff2),
        url(./assets/fonts/poppins-regular-webfont.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'poppins';
    src: url(./assets/fonts/poppins-medium-webfont.woff2),
        url(./assets/fonts/poppins-medium-webfont.woff);
    font-weight: 500;
}

:root {
    --colorAlpha: #E2E7E2;
    --colorBeta: #F19F6F;
    --colorSnow: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--colorAlpha);
    font-family: 'poppins';
    font-size: 14px;
}

.s--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

.s--icon img:hover {
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--colorAlpha);
}

.s--icon svg,
.s--icon img {
    height: 100%;
    width: 100%;
}

.su--icon img {
    height: 25px;
    width: 25px;
}

.container {
    display: grid;
    grid-template-columns: 150px 450px 1fr;
    grid-template-rows: 100px 1fr;
    padding: 50px;
    margin-right: 200px;
    gap: 50px;
}

.sideNav {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 200px 1fr;
    background-color: var(--colorSnow);
    padding: 50px 20px;
    border-radius: 20px;
    justify-items: center;
}

.navLinks {
    display: grid;
    align-content: start;
    gap: 50px;
}

.s--header {
    display: grid;
    grid-column: 2 / 4;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.header--title {
    display: grid;
    letter-spacing: 1.4px;
}

.user--panel {
    display: grid;
    align-items: center;
    justify-content: end;
    gap: 10px;
    grid-template-columns: auto auto auto auto;
}

.s--user {
    width: 40px;
    height: 40px;
}

.s--user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

.su--icon img {
    cursor: pointer;
}

.activeBoard {
    display: grid;
}

.activeCard {
    display: grid;
    justify-items: center;
    padding: 50px;
    gap: 30px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--colorSnow);
    box-shadow: 2px 4px 16px gray;
    position: relative;
}
.activity--data p {
    padding-top: 10px;
}

.new--entry {
    top: -40px;
    right: -20px;
    position: absolute;
    border-radius: 50%;
    padding: 20px;
    height: 50px;
    width: 50px;
    background-color: var(--colorBeta);
    cursor: pointer;
    transition: background-color .4s;
    font-weight: 400;
    color: var(--colorSnow);
    font-size: 3.5rem;
    user-select: none;
}
.new--entry:hover{
    background-color: rgb(23 23 16);
}
.new--entry:active{
    background-color: rgb(89 94 96);
}
.userCard {
    width: 150px;
    height: 150px;
}

.userCard img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    pointer-events: none;
}

.reading--hours h3 {
    font-size: 2.5rem;
}

.book--data {
    display: flex;
    margin-top: 20px;
    gap: 50px;
}

.book--data h3 {
    font-size: 1.5rem;
}
.book--rack {
    box-sizing: border-box;
    display: grid;
    grid-auto-rows: 180px;
    gap: 20px;
    height: 650px;
    width: 800px;
    margin-left: 100px;
    padding-right: 50px;
    padding-bottom: 20px;
    scroll-behavior: smooth;
    overflow: auto;
}
.book--log {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    gap: 20px;
    position: relative;
    border-radius: 20px;
    padding: 10px 50px;
    background-color: var(--colorSnow);

}
.book--log > svg {
    fill: var(--colorBeta);
    height: 150px;
    width: 120px;
}

.delete--log {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 25px;
    right: -30px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--colorBeta);
}
.delete--log:hover {
    background-color: rgb(255, 0, 0);
}

.delete--log > svg {
    height: 40px;
    fill: #ffffff;
}

.book--details {
    display: grid;
    gap: 10px;
    padding: 20px 0px;
}

h2.book--title {
    font-weight: 500;
    line-height: 1.7rem;
}

.book--author::before {
    content: 'Author: ';
    font-weight: bold;
}
.book--pages::after {
    content: ' Pages';
}
.book--status > svg {
    height: 40px;
    fill: #ffffff;
}
.book--status {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
    right: -30px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--colorBeta);
    background-color: #0F9D58;

}
.book--status:hover {
    background-color: #F4B400;
}
#entry--form {
    height: 270px;
}
form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: var(--colorBeta);
}
form > label {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    color: var(--colorSnow);
    font-weight: 500px;
}
form input, form select {
    font-size: 1rem;
    border-radius: 15px;
    padding: 15px;
    border-color: transparent;
    background-color: var(--colorSnow);
    color: #000000;
}
form input:focus {
    outline: none !important;
    border: 2px solid #000000;
    box-shadow: 0 0 5px var(--colorAlpha);
}
form select:focus {
    outline: none !important;
    filter: brightness(.9);
    box-shadow: 0 0 5px var(--colorAlpha);
}
.sh--entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.sh--entry label {
    font-weight: 500;
    color: #fff;
}
.sh--entry input[type='number'] {
    width: 50px;
}

form button {
    flex: 1;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 16px;
    background-color: #000000;
    color: var(--colorSnow);
    padding: 15px;
}
form button:hover{
    background-color: #2d2929;
    cursor: pointer;
}

form button:active {
    background-color: #000000;
}